node_modules
attack_utils/checkpoints/attacker_emnist/training_*
!attack_utils/checkpoints/attacker_emnist/training_13

attack_utils/checkpoints/attacker_emnist_finetuned/training_*
!attack_utils/checkpoints/attacker_emnist_finetuned/training_8

attack_utils/checkpoints/attacker_mnist 

attack_utils/checkpoints/labeler_mnist/training_*
!attack_utils/checkpoints/labeler_mnist/training_3

attack_utils/dl_models/checkpoints/
attack_utils/dl_models/__pycache__
attack_utils/__pycache__

emnist.zip