<header>
    <h1 id="attackPanelTitle">Automated Attack on Human-Machine Interface with Python Script</h1>
</header>

<div id="attackView">
    <div class="button-container">
        <div>
            <select id="captchaTypeSelect">
            <option value="0" selected>MNIST</option>
            <option value="1">EMNIST</option>
            <option value="2">Python</option>
            </select>
        </div>
        <button id="executeBtn">Execute Python Code</button>
    </div>
    <div class="spinner" id="spinner" style="visibility: hidden;"></div>
    <div id="outputContainer"></div>

  
    <div class="chart-container">
        <canvas id="lossPieChart"></canvas>
        <canvas id="accuracyPieChart"></canvas>
        <canvas id="sparseAccuracyPieChart"></canvas>
    </div>
    
</div>


<script type="module" src="/attack_front_execution.js"></script>
<script type="module" src="/statistics_dashboard.js"></script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
