<div id="attackView">
    <div class="button-container">
        <div>
            <select id="captchaTypeSelect">
            <option value="0">MNIST</option>
            <option value="1">EMNIST</option>
            <option value="2">Python</option>
            </select>
        </div>
        <button id="executeBtn">Execute Python Code</button>
        <div class="spinner" id="spinner" style="display: none;"></div>
    </div>
    <div id="outputContainer"></div>

    <script type="text/javascript" src="/attack_front_execution.js"></script>
</div>