<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1 class="mb-3">
                <img src="/assets/secure-icon.png" alt="icon" width="20%" />
            </h1>
            <h2>
                Login
            </h2>
            <%- include ("./messages") %>
                <form action="/auth/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Enter Password" />
                    </div>

                    <div class="form-group captcha">
                        <style>

                            img {
                                border: none;
                            }
                            #randomImages {
                                width: 60%;
                                height: 60%;
                                overflow: hidden;
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 20px;
                            }                    
                            #randomImages img {
                                width: 100%;
                                height: auto;
                                display: block;
                                margin: 0px -5% 0px -5%;
                            }
                        </style>                       

                        <label for="captcha">Captcha</label>
                        <div id="randomImages">
                            <!--<% console.log('imagePaths:', imagePaths); %>-->
                            <% let captcha_value = 0;%>
                            <%function shiftAndAddDigit(value, newDigit) {%>
                                <%return (value*10 + newDigit);%>
                            <%}%>

                            <% for (let i = 0; i < 4; i++) { %>
                                <%const randomIndex = Math.floor(Math.random() * imagePaths.length); %>
                                <%captcha_value = shiftAndAddDigit(captcha_value, randomIndex);%>
                                <% const randomFolder = imagePaths[randomIndex].folder; %>
                                <% const randomFiles = imagePaths[randomIndex].files; %>
                                <%console.log("Randome file :", randomFiles)%>
                                <% const randomImageName = randomFiles[Math.floor(Math.random() * randomFiles.length)]; %>
                                <img src="/attack_utils/images_dirs/<%= randomFolder %>/<%= randomImageName %>" alt="Random Image <%= i + 1 %>">
                            <% } %>
                          </div>
                          
                    </div>
                    <div class="form-group captcha">
                        <label for="user_captcha_input">Enter a 4-digit number:</label>
                        <input type="text" id="user_captcha_input" maxlength="4" oninput="validateInput(this)" pattern="\d{4}" title="Please enter a 4-digit number">                         
                    </div>

                    <style>
                        .captcha {
                            display: flex;
                            gap: 100px;
                            justify-content: center;
                        }
                    </style>
                    <script>
                        function validateInput(input) {
                          input.value = input.value.replace(/\D/g, '');
                          if (/^\d{4}$/.test(input.value)) {
                            input.setCustomValidity('');
                          } else {
                            input.setCustomValidity('Please enter a 4-digit number');
                          }
                        }
                    </script>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>

                </form>
                <p class="mt-4">
                    New User? <a href="/auth/register">Register</a>
                </p>
                <p>
                    Forgot Password? <a href="/auth/forgot">Reset</a>
                </p>
        </div>
    </div>
    <script>
        document.querySelector("#id-checkbox").addEventListener('DOMContentLoaded', function () {
            const captchaSquare = document.getElementById('captchaSquare');
            const captchaAnswerInput = document.getElementById('captchaAnswer');
            const colors = ['red', 'blue'];
            const randomColor = colors[Math.floor(Math.random() * colors.length)];
            captchaSquare.style.backgroundColor = randomColor;
            captchaAnswerInput.value = randomColor;

            captchaSquare.addEventListener('click', function () {
                const clickedColor = captchaSquare.style.backgroundColor;

                if (clickedColor === randomColor) {
                    alert('CAPTCHA solved! You clicked the right color.');
                } else {
                    alert('Incorrect! Please try again.');
                }
            });
        });
        document.querySelector("button").addEventListener(
            "click",
            function (event) {
                console.log("Désolé ! preventDefault() ne vous laissera pas cocher ceci.");
                event.preventDefault();
            },
            false,
        );
    </script>

</div>