img {
    border: none;
}



#randomImages {
    width: 60%;
    height: 60%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}                    
#randomImages img {
    width: 30%;
    height: auto;
    display: block;
    margin-left: -5%;
    margin-right: -5%;
}

#randomImages img#pythonCaptcha {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    font: inherit;
    text-align: inherit;
    color: inherit;

    /* Ensure it fills the entire space */
    width: 100%;
    height: 100%;
}

.captcha {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.custom-container {
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Center-align the content */
    background-color: #344B63;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.title {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 3%; /* Add margin below the title */
}

.selector-container {
    display: flex;
    left: 50%;
    justify-content: space-between; /* Distribute space between selectors */
    width: 80%; /* Set the width of the container */
    margin: 0 auto; /* Center align the container */
}

.selector-container select {
    width: calc(100% / var(--num-selectors) - 10px); /* Calculate width for each selector *
    /* Subtract 10px for margin and padding */
}


.selector-container h3 {
    margin-bottom: 10px;
}

.horizontal-line {
    border: 1px solid white; /* Define the style of the horizontal line */
    margin: 20px 0; /* Adjust margin as per your layout */
}

.attack-setup {
    display: flex;
    align-items: center;
}

.attack-setup > div {
    flex-grow: 1;
    margin-right: 10px; /* Adjust spacing between elements if needed */
}

.attack_setup > div:last-child {
    margin-right: 0; /* Remove margin from the last child to prevent extra spacing */
}

#labeler_model{
    margin-left: 3%;
}

#launch_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 40%;
    margin: 4px 2px;
    transition: background-color 0.05s; /* Smooth transition for background-color */
    cursor: pointer;
    border-radius: 10px;
}

#launch_button:hover {
    background-color: #FF5733; /* Red on hover */
}

#captchaMethod, #option1, #option2, #labeler_model {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 208px; /* Adjust width to match the button */
}






/****************************** attackPanel ******************************/

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#attackPanelTitle {
    margin: 0;
    font-size: 32px;
}
#attackView {
    font-family: 'Courier New', Courier, monospace; /* Use a monospaced font */
    background-color: #222222; /* Set background color to black */
    padding: 20px; /* Add some padding for aesthetics */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#outputContainer {
    border: 2px solid #00ff00; /* Add a green border */
    color: #00ff00; /* Set text color to green */
    padding: 20px; /* Add padding inside the container */
    width: 100%;
    margin-top: 10px;
    background-color: #000; /* Set background color to black */
    overflow-y: scroll; /* Enable vertical scrolling if content overflows */
    max-height: 600px; /* Limit the height to provide a scrolling area */
    white-space: pre; /* Preserve whitespace and line breaks exactly as they appear */
    border-radius: 10px;
    margin-bottom: 20px; /* Add margin at the bottom */
}
#executeBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 20px;
    transition: background-color 0.05s; /* Smooth transition for background-color */
    cursor: pointer;
    border-radius: 10px;
}
#executeBtn:hover {
    background-color: #FF5733; /* Red on hover */
}
.spinner {
    border: 4px solid #f3f3f3; /* Light grey border */
    border-top: 4px solid #3498db; /* Blue border for spinner animation */
    border-radius: 50%; /* Rounded border */
    width: 20px; /* Set width of spinner */
    height: 20px; /* Set height of spinner */
    animation: spin 1s linear infinite; /* Spin animation */
    margin: 10px; /* Adjust left margin to center spinner */
    display: block; /* Hide spinner by default */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#captchaTypeSelect {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 208px; /* Adjust width to match the button */
}

#captchaTypeSelect:hover {
    background-color: #155adb; /* Red on hover */
}
